input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
input[id="menuicon"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: black;
    transition: all 0.3s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: white;
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
    background-color: white;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    background-color: white;
}

div[class="sidebar"] {
    width: 300px;
    height: 100%;
    background-color: #222;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: -1;
    transition: all 0.3s;
}

input[id="menuicon"]:checked + .sidebar {
    left: 0;
    z-index: 1;
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

.menu-title {
    font-size: 24px;
    color: #333;
}

.menu-lead {
    font-size: 16px;
    color: #666;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-link {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}